In [31]:
import pandas as pd

pd.set_option('display.max_rows', None)

#alunos_df = pd.read_csv("C:/Users/pedro/Downloads/TRI/microdados_enem_2022/DADOS/MICRODADOS_ENEM_2022.csv", nrows= 6 * 1000 * 1000, sep=";",  encoding='latin')

columns_to_read = ['TP_LINGUA', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_MT', 'TX_RESPOSTAS_LC', 'TX_GABARITO_CN', 'TX_GABARITO_MT', 'TX_GABARITO_CH', 'TX_GABARITO_LC']

year = 2019
alunos_df = pd.read_csv(f"C:/Users/pedro/Downloads/TRI/microdados/microdados_enem_{year}/DADOS/MICRODADOS_ENEM_{year}.csv", usecols=columns_to_read, nrows= 6 * 1000 * 1000, sep=";",  encoding='latin')
item_df_path = f"c:/Users/pedro/Downloads/TRI/microdados/microdados_enem_{year}/DADOS/ITENS_PROVA_{year}.csv"

alunos_df.dropna(subset=['TX_GABARITO_CH', 'TX_GABARITO_MT', 'TX_GABARITO_CN', 'TX_GABARITO_LC'], inplace=True)

alunos_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3701910 entries, 3 to 5095165
Data columns (total 17 columns):
 #   Column           Dtype
---  ------           -----
 0   CO_PROVA_CN      float64
 1   CO_PROVA_CH      float64
 2   CO_PROVA_LC      float64
 3   CO_PROVA_MT      float64
 4   NU_NOTA_CN       float64
 5   NU_NOTA_CH       float64
 6   NU_NOTA_LC       float64
 7   NU_NOTA_MT       float64
 8   TX_RESPOSTAS_CN  object
 9   TX_RESPOSTAS_CH  object
 10  TX_RESPOSTAS_LC  object
 11  TX_RESPOSTAS_MT  object
 12  TP_LINGUA        int64
 13  TX_GABARITO_CN   object
 14  TX_GABARITO_CH   object
 15  TX_GABARITO_LC   object
 16  TX_GABARITO_MT   object
dtypes: float64(8), int64(1), object(8)
memory usage: 508.4+ MB

In [32]:
def grade_CTT(row, tipo_prova):
  
    student_responses =  [char for char in row['TX_RESPOSTAS_' + tipo_prova]] 
    correct_responses = [char for char in row['TX_GABARITO_' + tipo_prova]]

    # Verifique se os vetores têm o mesmo comprimento
    if tipo_prova == 'LC' and len(correct_responses) == 50:
        # Skip Spanish exam.
         correct_responses = correct_responses[5:]
    if tipo_prova == 'LC' and len(student_responses) == 50:
        # Skip Spanish exam.
         student_responses = student_responses[5:]
        
    if len(student_responses) != len(correct_responses):
        return "Os vetores têm comprimentos diferentes"
    
    # Inicialize a contagem de respostas corretas
    correct_count = 0
    
    # Percorra os vetores e conte as respostas corretas
    for i in range(len(student_responses)):
        if student_responses[i] == correct_responses[i]:
            correct_count += 1
    
    return correct_count

# Exemplo de uso da função:
#student_answers = "AAAABCCC"
#correct_answers = "AAAABBBB"

#num_correct = grade_CTT(student_answers, correct_answers)
#print("Número de respostas corretas:", num_correct)

In [33]:
alunos_df['CO_PROVA_CH'].value_counts()

CO_PROVA_CH
508.0    931254
509.0    923475
507.0    922313
510.0    922290
524.0      2073
520.0       505
Name: count, dtype: int64

In [34]:
def response_pattern(row, tipo_prova):

    response_pattern = ""
    student_responses =  [char for char in row['TX_RESPOSTAS_' + tipo_prova]] 
    correct_responses = [char for char in row['TX_GABARITO_' + tipo_prova]]
   
    # Verifique se os vetores têm o mesmo comprimento
    if tipo_prova == 'LC' and len(correct_responses) == 50:
        # Skip Spanish exam.
         correct_responses = correct_responses[5:]
    if tipo_prova == 'LC' and len(student_responses) == 50:
        # Skip Spanish exam.
         student_responses = student_responses[5:]
        
    if len(student_responses) != len(correct_responses):
        raise Exception(f"Os vetores têm comprimentos diferentes. Estudante respondeu {len(student_responses)} e o gabarito tem {len(correct_responses)}")
    
    # Inicialize a contagem de respostas corretas
    correct_count = 0
    
    # Percorra os vetores e conte as respostas corretas
    for i in range(len(student_responses)):
        if student_responses[i] == correct_responses[i]:
            response_pattern += "1"
        else:       
            response_pattern += "0"
    
    return response_pattern

# Exemplo de uso da função:
#student_answers = "AAAABCCC"
#correct_answers = "AAAABBBB"

#num_correct = grade_CTT(student_answers, correct_answers)
#print("Número de respostas corretas:", num_correct)

In [35]:
def tx_gabarito(row, tipo_prova):

    response_pattern = ""
    student_responses =  [char for char in row['TX_RESPOSTAS_' + tipo_prova]] 
    correct_responses = [char for char in row['TX_GABARITO_' + tipo_prova]]
   
    # Verifique se os vetores têm o mesmo comprimento
    if tipo_prova == 'LC' and len(correct_responses) == 50:
        # Skip Spanish exam.
         correct_responses = correct_responses[5:]
    if tipo_prova == 'LC' and len(student_responses) == 50:
        # Skip Spanish exam.
         student_responses = student_responses[5:]
        
    if len(student_responses) != len(correct_responses):
        raise Exception(f"Os vetores têm comprimentos diferentes. Estudante respondeu {len(student_responses)} e o gabarito tem {len(correct_responses)}")
    
    # Inicialize a contagem de respostas corretas
    correct_count = 0
    
    # Percorra os vetores e conte as respostas corretas
    for i in range(len(student_responses)):
        if student_responses[i] == correct_responses[i]:
            response_pattern += "1"
        else:       
            response_pattern += "0"
    
    return ''.join(correct_responses)


def tx_respostas(row, tipo_prova):

    response_pattern = ""
    student_responses =  [char for char in row['TX_RESPOSTAS_' + tipo_prova]] 
    correct_responses = [char for char in row['TX_GABARITO_' + tipo_prova]]
   
    # Verifique se os vetores têm o mesmo comprimento
    if tipo_prova == 'LC' and len(correct_responses) == 50:
        # Skip Spanish exam.
         correct_responses = correct_responses[5:]
    if tipo_prova == 'LC' and len(student_responses) == 50:
        # Skip Spanish exam.
         student_responses = student_responses[5:]
        
    if len(student_responses) != len(correct_responses):
        raise Exception(f"Os vetores têm comprimentos diferentes. Estudante respondeu {len(student_responses)} e o gabarito tem {len(correct_responses)}")
    
    # Inicialize a contagem de respostas corretas
    correct_count = 0
    
    # Percorra os vetores e conte as respostas corretas
    for i in range(len(student_responses)):
        if student_responses[i] == correct_responses[i]:
            response_pattern += "1"
        else:       
            response_pattern += "0"
    
    return ''.join(student_responses)

In [36]:
print("Computing CTTs...")

'''
alunos_df['CTT_SCORE_CH'] = alunos_df.apply(grade_CTT, axis=1,  args=('CH',))
alunos_df['RESPONSE_PATTERN_CH'] = alunos_df.apply(response_pattern, axis=1, args=('CH',))

alunos_df['CTT_SCORE_MT'] = alunos_df.apply(grade_CTT, axis=1,  args=('MT',))
alunos_df['RESPONSE_PATTERN_MT'] = alunos_df.apply(response_pattern, axis=1, args=('MT',))

alunos_df['CTT_SCORE_CN'] = alunos_df.apply(grade_CTT, axis=1,  args=('CN',))
alunos_df['RESPONSE_PATTERN_CN'] = alunos_df.apply(response_pattern, axis=1, args=('CN',))
'''

alunos_df['CTT_SCORE_LC'] = alunos_df.apply(grade_CTT, axis=1,  args=('LC',))
alunos_df['RESPONSE_PATTERN_LC'] = alunos_df.apply(response_pattern, axis=1, args=('LC',))
alunos_df['TX_GABARITO_LC'] = alunos_df.apply(tx_gabarito, axis=1, args=('LC',))
alunos_df['TX_RESPOSTAS_LC'] = alunos_df.apply(tx_respostas, axis=1, args=('LC',))

print("CTTs computed!")

Computing CTTs...
CTTs computed!

In [37]:
# MT
'''
alunos_df[['TX_RESPOSTAS_MT','TX_GABARITO_MT', 'NU_NOTA_MT', 'CTT_SCORE_MT', 'CO_PROVA_MT', 'RESPONSE_PATTERN_MT']] \
 .sort_values(by='NU_NOTA_MT', ascending=False) \
 .rename(columns={'TX_RESPOSTAS_MT': 'TX_RESPOSTAS', 'TX_GABARITO_MT': 'TX_GABARITO', 'NU_NOTA_MT': 'NU_NOTA', 'CTT_SCORE_MT': 'CTT_SCORE', 'CO_PROVA_MT': 'CO_PROVA',  'RESPONSE_PATTERN_MT': 'RESPONSE_PATTERN'}) \
 .to_csv(f"C:/Users/pedro/Downloads/TRI/test_responses_humans/test_responses_humans_MT_{year}.csv")

# CH
alunos_df[['TX_RESPOSTAS_CH','TX_GABARITO_CH', 'NU_NOTA_CH', 'CTT_SCORE_CH', 'CO_PROVA_CH', 'RESPONSE_PATTERN_CH']] \
 .sort_values(by='NU_NOTA_CH', ascending=False) \
 .rename(columns={'TX_RESPOSTAS_CH': 'TX_RESPOSTAS', 'TX_GABARITO_CH': 'TX_GABARITO', 'NU_NOTA_CH': 'NU_NOTA', 'CTT_SCORE_CH': 'CTT_SCORE', 'CO_PROVA_CH': 'CO_PROVA',  'RESPONSE_PATTERN_CH': 'RESPONSE_PATTERN'}) \
 .to_csv(f"C:/Users/pedro/Downloads/TRI/test_responses_humans/test_responses_humans_CH_{year}.csv")

# CN
alunos_df[['TX_RESPOSTAS_CN','TX_GABARITO_CN', 'NU_NOTA_CN', 'CTT_SCORE_CN', 'CO_PROVA_CN', 'RESPONSE_PATTERN_CN']] \
 .sort_values(by='NU_NOTA_CN', ascending=False) \
 .rename(columns={'TX_RESPOSTAS_CN': 'TX_RESPOSTAS', 'TX_GABARITO_CN': 'TX_GABARITO', 'NU_NOTA_CN': 'NU_NOTA', 'CTT_SCORE_CN': 'CTT_SCORE', 'CO_PROVA_CN': 'CO_PROVA',  'RESPONSE_PATTERN_CN': 'RESPONSE_PATTERN'}) \
 .to_csv(f"C:/Users/pedro/Downloads/TRI/test_responses_humans/test_responses_humans_CN_{year}.csv")
'''

# LC
# Keep only studes who chose the English exam instead of Spanish.
alunos_df[alunos_df['TP_LINGUA'] == 1][['TX_RESPOSTAS_LC','TX_GABARITO_LC', 'NU_NOTA_LC', 'CTT_SCORE_LC', 'CO_PROVA_LC', 'RESPONSE_PATTERN_LC', 'TP_LINGUA']] \
 .sort_values(by='NU_NOTA_LC', ascending=False) \
 .rename(columns={'TX_RESPOSTAS_LC': 'TX_RESPOSTAS', 'TX_GABARITO_LC': 'TX_GABARITO', 'NU_NOTA_LC': 'NU_NOTA', 'CTT_SCORE_LC': 'CTT_SCORE', 'CO_PROVA_LC': 'CO_PROVA',  'RESPONSE_PATTERN_LC': 'RESPONSE_PATTERN'}) \
 .to_csv(f"C:/Users/pedro/Downloads/TRI/test_responses_humans/test_responses_humans_LC_{year}.csv")

alunos_df[alunos_df['TP_LINGUA'] == 1].head()

,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,CTT_SCORE_LC,RESPONSE_PATTERN_LC
3,504.0,510.0,513.0,516.0,483.8,503.6,537.3,392.0,BACCEEBEECDBEDDAEECDEDEADEBBCDBCAACADEEACCBBD,AECEDADAABAADBAADAEBACBAECCDAEADCDBBECCEDABCD,AAABEBBCCBDCAEECADBACAADAECCCDCCBAEBDEEEAEECA,DDBBBBCDCCDCAECCBBECDAEBADCD..CABCCECAEBDBBDA,1,BEEAAEBEEBADEADDADAEABCEDDDBCBCBCCACBCDADCCEB,EEBCEEDBADBBCBABCCADCEBACDBBACCACACBEADBBADCB,DCABAABBCBCDAAECDDDBAAAECADECDCEBDEEAECBDBBCC,BEDEEEAADBEBACABCDBABECECACADCBDCCEDCDABECDDD,18,001100101100101101000110000011101010010000010
6,505.0,508.0,512.0,518.0,484.6,488.4,507.2,594.7,BADEBCACADECAEAAAECCCDEACCEA.ECCDDCECBEBADAAC,AAAECDAACDAEDCDBDCBBDDAECBBECBDDDECCACCEDEACA,BEDAACECEACDCDEBECACBDDECAACDBACDCAECADEACEBD,ACBBAECECDBDDDCEDCEACDBCDCDDAAEAEDDCECDCBDECB,1,DADCCEBBCCACBEEBEEBACBCDDDDADBCBBCEAEADEADAAE,CBABADBBCEEEBCBADCBEEDBBEADBBACDBBACCCCADACAC,BDACACBABAECBBCCADCEBDBBCDDEEAAADDBECDECAAECD,DBEBACABCDBABECEEEDCBDCCEDCDABEDAADDDECACAECB,14,100011000100000000001100100000101001100010101
11,505.0,507.0,511.0,518.0,518.2,351.7,417.6,459.0,DADBBCDBACBDACCEBEAACBECADDBEDACBBEDAADDDECCE,DCEABDAECBADBCADBCDAEBADCEDBACBCCDBAABEDBCBDA,EECABDCABEAAACBCDEEDEBBAEACBCAABADEAECCAECBBB,DEACBEBBCBECDAEEBDDBAECBDBAECBCBABDCEDABCEABC,1,DADCCEBBCCACBEEBEEBACBCDDDDADBCBBCEAEADEADAAE,BACCCBABBADCBCEEEBCACACEEDBCCADBEADBADBBBACDB,ABCADBCBAADDBECDAAECDAECBECBCCDEEAAADDBBCDCEB,DBEBACABCDBABECEEEDCBDCCEDCDABEDAADDDECACAECB,9,001100100000000000100000001110000001000000001
12,506.0,510.0,513.0,517.0,373.8,393.6,451.0,484.7,BADCACDEDADAACEADEECDACCBDDBBEAACAEABBEBACCAC,CBABECBCBBDEACABADAECBBECCEBDCACDBDEEAAECBCBE,BDDDCBBABECAACCEACDDEABACAADCDBCBBADECBDBDEBC,AADCDCCAEDAEBCECADCEDBEDDAEEBCAEEECAADEDACBBB,1,DEADBAAAEBEECEBCBCBCBDADAEABCEDDDDADCBEECACBC,EEBCEEDBADBBCBABCCADCEBACDBBACCACACBEADBBADCB,DCABAABBCBCDAAECDDDBAAAECADECDCEBDEEAECBDBBCC,AADDDBEEEBEDDBEBACABCDBABECECACAECDCBDCCEDCDA,11,000000100010100000100100110011001000000000001
13,505.0,510.0,513.0,518.0,458.9,441.6,413.0,399.0,AAABBD*BBBCCDAECBDECADBACEBACADCEEEDDADEADCED,CDDEDBDABABAAAABDEADAEEDEABCDBBADACEACCDCBDED,AADCBCEDDAAAAEEBABCEDACAADEEDEBCCBABACECCEABE,BDDCBACAEDEDBBECBCCAAACDEBCDDAAABBBDACDEBBCDC,1,DADCCEBBCCACBEEBEEBACBCDDDDADBCBBCEAEADEADAAE,EEBCEEDBADBBCBABCCADCEBACDBBACCACACBEADBBADCB,DCABAABBCBCDAAECDDDBAAAECADECDCEBDEEAECBDBBCC,DBEBACABCDBABECEEEDCBDCCEDCDABEDAADDDECACAECB,5,000000000000101000000100000100000000100000000